$bgcolor: #f5f5f5;
$fontColor: #333;
$headColor: #fff;
$fontStack: "Microsoft Yahei","Hiragino Sans GB";
$hovercolor: #00c1de;
$blk: block;
$inlblk: inline-block;
$inl: inline;
.m0at{margin: 0 auto;}
.fl{float: left;}
.dplblk{display: block;}
.dplno{display: none;}
$navcolor:#1e2943;
$navHei:60px;
$bodyWid:1200px;
$fontColornav:#ccc;
$pandingSty:40px;
$textBgColor:#424141;
$whiteBg:#fff;
$btnbg:#00C1DE;